<button value="C" type="button" {{on 'click' this.HandleC}}>C</button>
<button value="CE" type="button" {{on 'click' this.HandleCE}}>CE</button>
<button value="+" type="button" {{on 'click' this.HandleClick}}>+</button>
<button value="/" type="button" {{on 'click' this.HandleClick}}>/</button>
<button value="0" type="button" {{on 'click' this.HandleClick}}>0</button>
<button value="." type="button" {{on 'click' this.HandleClick}}>.</button>
<button value="**" type="button" {{on 'click' this.HandleClick}}>Pow</button>
<button value="%" type="button" {{on 'click' this.HandleClick}}>%</button>
<button value="7" type="button" {{on 'click' this.HandleClick}}>7</button>
<button value="8" type="button" {{on 'click' this.HandleClick}}>8</button>
<button value="9" type="button" {{on 'click' this.HandleClick}}>9</button>
<button value="*" type="button" {{on 'click' this.HandleClick}}>X</button>
<button value="4" type="button" {{on 'click' this.HandleClick}}>4</button>
<button value='5' type="button" {{on 'click' this.HandleClick}}>5</button>
<button value="6" type="button" {{on 'click' this.HandleClick}}>6</button>
<button value="-" type="button" {{on 'click' this.HandleClick}}>-</button>
<button value="1" type="button" {{on 'click' this.HandleClick}}>1</button>
<button value="2" type="button" {{on 'click' this.HandleClick}}>2</button>
<button value="3" type="button" {{on 'click' this.HandleClick}}>3</button>
<button value="=" type="button" {{on 'click' this.HandleEqual}}>=</button>
